{{#each (slice posts 0 5) as |post|}}
<div>
    <div>
        {{!-- <h2><a href="/post/{{post.id}}">{{post.title}}</a></h2> --}}
        <h2>{{post.title}}</h2>
        <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
    </div>
    <div>
        <p>{{post.description}}</p>
    </div>
</div>
{{/each}}