<div class="text-center">
  <h2>Title:</h2> 
  <h2><span id="title"> {{title}}</span></h2>
  <h3>Content:</h3>
  <p><span id="description"> {{description}}</span></p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>
<div class="delete-btn">
<button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
</div>
<div class="edit-btn">
<button class="btn btn-sm btn-warning" data-id="{{id}}" onclick="editPost()">EDIT</button>
</div>
<script src="/js/deletePost.js"></script>
<script src="/js/editPost.js"></script>