<div class="text-center mt-4 border border-danger rounded shadow-lg bg-dark text-white mt-4">
  <h2>Title:</h2> 
  <h2><span id="title"><strong> {{title}} </strong></span></h2>
  <h3>Content:</h3>
  <p><span id="description"> {{description}}</span></p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <div class="delete-btn">
    <button class="btn btn-outline-danger buttons" data-id="{{id}}">DELETE</button>
    </div>
  <div class="edit-btn">
    <button class="btn btn-outline-warning buttons" data-id="{{id}}" onclick="editPost()">EDIT</button>
  </div>
</div>
<script src="/js/deletePost.js"></script>
<script src="/js/editPost.js"></script>